p {
    margin: 1rem auto;
    text-align: center;
}

.tag {
    padding: 3px 7px;
    background-color: hsl(163, 31%, 53%);
    border-radius: 10px;
    color: hsl(180, 5%, 91%);
    font-size: 1.2rem;
    text-transform: uppercase;
    align-items: center;
    display: inline-flex;
    font-family: 'Segoe UI';
    font-weight: 400;
    transition: all 0.4s ease;

}

.tagList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

.tagListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

.tagListItem:hover .toggle{
    color: gold;
    transition: all 0.4s ease;
}

.tagListItem:hover .tag{
    background-color: hsl(163, 31%, 43%);
    transition: all 0.4s ease;
}

.toggle {
    font-size: 1.5rem;
    transition: all 0.4s ease;
}

.deleteButton {
    margin-left: 0.2rem;
    background-color: hsl(180, 5%, 91%);
    padding: 0.1rem 0.3rem;
}

.deleteButton:hover {
    background-color: gold;
}