#searchResults {
    margin: 1.3rem auto;
    max-width: 700px;

}

.searchItem {
    background-color: hsl(184, 50%, 20%);
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.searchItem h2 {
    color: hsl(50, 100%, 50%);
    text-align: left;
}

.searchItemHeader {
    display: flex;
    gap: 1.5rem;
}

.searchDescription {
    text-align: left;
    margin: 0;
}

.searchItemBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}