a {
    text-decoration: none;
    color: hsl(180, 5%, 91%);
}

a:visited {
    color: hsl(180, 5%, 91%);
}

h2 {
    font-size: 1.6rem;
}

.postCard {
    padding: 20px;
}

.postTitle {
    margin-top: 0.5rem;
}

.postContent {
    font-size: 1.1rem;
}

.postMeta {
    color: hsl(180, 2%, 55%);
    display: flex;
}

.postedBy {
    flex-grow: 1;
}

.tag {
    padding: 5px 10px;
    background-color: hsl(163, 31%, 53%);
    border-radius: 10px;
    color: hsl(180, 5%, 91%);
    margin-left: 8px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}