a {
    text-decoration: none;
    color: hsl(180, 5%, 91%);
}

a:visited {
    color: hsl(180, 5%, 91%);
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

/* The Post Summary Page */

.loading {
    max-width: 700px;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.spinner {
    font-size: 2rem;
}

.activeTagsHeader {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.postSummary {
    margin: 1.3rem auto;
    max-width: 700px;
    background-color: hsl(184, 50%, 20%);
    border-radius: 5px;
    border: 2px solid hsla(184, 40%, 16%, 0%);
    transition: all 0.3s ease;
}
  
.postSummary:hover {
    border: 2px solid hsla(180, 5%, 91%, 100%);
    background-color: hsl(184, 50%, 24%);
}

.postCard {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.summaryHeader {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

.summaryTitle {
    margin: 0;
    text-align: left;
}

.summaryGallery {
    position: relative;
    margin: 0 auto;
}

.galleryText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.5rem;
    background-color: hsla(180, 5%, 95%, 40%);
    color: hsla(180, 5%, 5%, 100%);
    padding: 4px 10px;
    border-radius: 3px;
}

.summaryImage {
    border-radius: 5px;
    max-height: 400px;
    object-fit: cover;
    border: #111 solid 2px;
    max-width: 100%;
}

.summaryContent * {
    margin: 0;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.5rem;
    word-wrap: break-word;
    /* margin: rem 0; */
}

.summaryMeta {
    color: hsl(180, 2%, 80%);
    display: flex;
    margin: 0;
    text-align: left;
    gap: 8px;
    align-items: flex-end;
}

.summaryPostedBy {
    font-size: 0.8rem;
    color: hsl(180, 2%, 65%);
}

.summaryMetaText {
    font-size: 1rem;
    flex-grow: 1;
}

.postTags {
    display: flex;
    gap: 8px;
}

/* The Detailed Post Page */

.postDetailed {
    max-width: 700px;
    margin: 2rem auto;
    background-color: hsl(184, 50%, 20%);
    border-radius: 5px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.postMeta {
    text-align: center;
    background-color: hsl(184, 17%, 12%);
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}

.metaHighlight {
    color: hsl(50, 100%, 50%);
}

.author {
    color: hsl(30, 100%, 50%);
}

.detailedImage {
    display: block;
    max-width: 100%;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: #111 solid 2px;
}

.postContent *, .comments * {
    text-align: left;
    line-height: 1.5rem;
}

.comments {
    text-align: left;
    border-radius: 5px;
    color: hsl(180, 5%, 91%);
    margin-top: 2rem;
}

.comments > div > .comment {
    padding-right: 1rem;
}

.comment {
    background-color: hsl(184, 47%, 30%);
    color: hsl(180, 5%, 91%);
    border-radius: 3px;
    padding: 0.5rem 0rem 1rem 1rem;
    margin-top: 0.5rem;
}

.replyContent blockquote {
    color: black;
}

.replies {
    padding-left: 0.4rem;
    padding-right: -1rem;
    transition: all 0.5s ease;
    max-height: 10000px;
    border-left: hsl(180, 5%, 91%) solid 1px;
}

.hideReplies {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.repliesButton {
    border-radius: 3px;
    padding: 2px 5px;
    background-color: cadetblue;
}

h4 {
    margin: 0.5rem 0;
}
