@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

body {
  background-color: hsl(184, 17%, 10%);
  color: hsl(180, 5%, 91%);
  font-family: 'Segoe UI', sans-serif;
}

nav {
  background-color: hsl(184, 40%, 15%);
  position: sticky;
  top: 0;
  z-index: 1;
}

section {
  margin: 0 1.5rem;
}

.navInner {
  display: flex;
  background-color: hsl(184, 40%, 15%);
  padding: 1rem;
  gap: 1rem;
  max-width: 900px;
  margin: 0 auto;
}

.linkButton {
  color: hsl(163, 61%, 53%);
  font-size: 2rem;
  transition: all 0.4s ease;
  text-align: center;
}

.linkButton:visited {
  color: hsl(163, 61%, 53%);
}

.linkButton:hover {
  color: hsl(180, 5%, 91%);
}

#searchBar {
  flex-grow: 1;
  background-color: hsl(180, 5%, 91%);
  border-radius: 7px;
  color: hsl(184, 17%, 16%);
  border: none;
  margin: 5px 0;
  padding: 0 20px;
  outline: none;
}

h1, h2 {
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  flex-grow: 1;
  font-size: 1.8rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  margin-bottom: 0.8rem;
}

button {
  background-color: hsl(50, 100%, 50%);
  border: none;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  transition: all .3s ease;
  text-transform: uppercase;
  font-size: 0.8rem;
}

button:hover {
  background-color: hsl(180, 5%, 91%);
  color: #222;
  cursor: pointer;
}

.pageHeader {
  margin: 2rem auto;
  max-width: 800px;
}

.communityIcon {
  border-radius: 360px;
  width: 40px;
  height: 40px;
}