.communities {
    margin: 1rem auto;
    background-color: hsl(184, 50%, 20%);
    max-width: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
}

.communityHeader {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.communities h2 {
    color: hsl(50, 100%, 50%);
    text-align: left;
    margin: 0;
}

.communityHeader > span {
    word-wrap: break-word;
    flex-grow: 1;
    text-align: left;
}

.communityDescription {
    text-align: left;
    margin: 0 0 0rem 0;
}

.communityTags {
    display: flex;
    gap: 0.6rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
}