.communities {
    margin: 1rem auto;
    text-align: center;
    background-color: hsl(184, 40%, 15%);
    max-width: 800px;
    display: flex;
    border-radius: 5px;
}

.communityHeader {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: solid 1px hsl(184, 40%, 25%);
    width:150px;
}

.communityHeader h2 {
    word-wrap: break-word;
}

.unfollowButton {
    top: 10px;
    right: 10px;
}

.communityTags {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 20px;
}

